html, body {
  height: 100%;
  margin: 0;
}

html{
  background: url("../img/bg.png") no-repeat center center / cover;
  background-attachment: fixed; /* чтобы фон не “уезжал” при скролле */
}

body{
  font-family: Arial, sans-serif;
  color: white;
  min-height: 100vh;  /* ключевая строка */
  background: transparent;
}

.overlay{
  min-height: 100vh;
  background: rgba(0,0,0,0.35);
  padding: 40px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.box{
  max-width: 600px;
  margin: 0 auto;
  background: rgba(0,0,0,0.7);
  padding: 30px;
  border-radius: 10px;
  text-align: center;
}

.btn {
  display: inline-block;
  margin-top: 15px;

  padding: 10px 20px;
  background: gold;

  color: black;
  text-decoration: none;
  font-weight: bold;

  border-radius: 5px;
}

.btn:hover {
  background: orange;
}

.form{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12px;
  max-width: 720px;
  width: 100%;
  margin: 0 auto;
}

.form input,
.form select{
  padding: 12px;
  border-radius: 8px;
  border: none;
  outline: none;
}

/* кнопка на всю ширину */
.form button{
  grid-column: 1 / -1;
}

@media (max-width: 600px){
  .overlay{
    padding: 16px;
  }

  .box{
    width: 100%;
    padding: 18px;
  }

  .form{
    grid-template-columns: 1fr; /* на телефоне всё в столбик */
  }

  .map iframe{
    height: 260px;
  }
}

/* Прайс */
.price-list{
  max-width: 600px;
  margin: 0 auto;
  display: grid;
  gap: 10px;
}

.price-item{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 16px;
  border-radius: 10px;
  background: rgba(0,0,0,0.55);
}

/* Галерея */
.gallery{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.gallery img{
  width: 100%;
  height: 160px;
  object-fit: cover;
  border-radius: 10px;
}

/* Отзывы */
.reviews{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 12px;
}

.review{
  background: rgba(0,0,0,0.55);
  padding: 16px;
  border-radius: 12px;
}

.review p{
  margin-top: 0;
  opacity: 0.9;
}

/* адаптив */
@media (max-width: 900px){
  .gallery{ grid-template-columns: repeat(2, 1fr); }
  .reviews{ grid-template-columns: 1fr; }
}

.section {
  margin-top: 80px;
}